<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  


<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
  <div class="mdl-layout__header-row">
  <span class="mdl-layout-title">Flight Search</span>
  <div class="mdl-layout-spacer"></div>
  <nav class="mdl-navigation mdl-layout--large-screen-only">
  <a class="mdl-navigation__link">User Profile</a>
  <a class="mdl-navigation__link">Settings</a>
  </nav>
  </div>
  </header>
  <main class="mdl-layout__content" style="padding: 20px;">
  </main>
  </div>

  <h3>
    Welcome to {{ title }}!
  </h3>
  <h4>
    Get the status of your flight: 
  </h4>
  <app-search></app-search>
  </div>
